  {% if product.metafields.custom.amazon_url %}
      <div class="large-btn button">
        <a href="{{ product.metafields.custom.amazon_url }}" target="_blank" rel="noopener noreferrer" class="btn btn--amazon">
          Buy on Amazon
        </a>
      </div>
    {% endif %}
