<button type="button"  class="shopify-payment-button__button shopify-payment-button__button--unbranded"  onclick="document.querySelector(`[data-testid='sheet-open-button']`).click();">Buy It Now!</button>
<div class="hidden">form | payment_button }}</div>
